﻿@{
    ViewData["Title"] = "About Us";
    ViewData["Subtitle"] = "This is an about us page";
}

<p>
    Selamat datang pada halaman @ViewData["Title"], Silahkan bermain dengan banyak hal yang telah disediakan.
    @{
        List<System.Collections.Hashtable> players = new List<System.Collections.Hashtable>
            {
                new System.Collections.Hashtable{ { "Id", 0 }, { "Name", "Gajah" } },
                new System.Collections.Hashtable{ { "Id", 1 }, { "Name", "Unta" }  },
                new System.Collections.Hashtable{ { "Id", 2 }, { "Name", "Sapi" } },
                new System.Collections.Hashtable{ { "Id", 3 }, { "Name", "Kadal" } },
                new System.Collections.Hashtable{ { "Id", 4 }, { "Name", "Jantan" } },
                new System.Collections.Hashtable{ { "Id", 5 }, { "Name", "Betina"} }
            };
    }

    <h2>Id Genap</h2>
    <hr>
    <ul>
    @foreach(var player in players){
        @if((int)player["Id"] % 2 == 0) {
            <li>@player["Id"].ToString() @player["Name"]</li>
        }
    }
    </ul>

    <h2>Id Ganjil</h2>
    <hr>
    <ul>
    @foreach(var player in players){
        @if((int)player["Id"] % 2 != 0) {
            <li>@player["Id"].ToString() @player["Name"]</li>
        }
    }
    </ul>
</p>