@using App.DataAccess.Model
@model Author
@{
    Layout = "_Page";

    ViewData["Title"] = "Author Create Page";
    ViewData["Subtitle"] = $"This is an Author of Creating Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <form asp-controller="Author" asp-action="Create" method="post">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Author Name"
                        aria-describedby="Author Name">
                    <small class="text-muted">Please input an Author Name</small>
                </div>
                <div class="form-group d-flex">
                    <a class="btn btn-primary text-white mr-2" asp-controller="Author" asp-action="Index">Author
                        List</a>
                    <button type="submit" class="btn btn-success text-white mr-2">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>