@using App.DataAccess.Model
@model Author
@{
    Layout = "_Page";

    ViewData["Title"] = "Author Edit Page";
    ViewData["Subtitle"] = $"This is an Author of {ViewBag.Author.Name} Modification Page";

    var author = ViewBag.Author;
}

<div class="container">
    <div class="row">
        <div class="col">
            <form asp-controller="Author" asp-action="Update" asp-route-id="@author.Id"
                method="post">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input type="text" asp-for="Name" class="form-control" placeholder="Author Name"
                        aria-describedby="Author Name" value="@author.Name">
                    <small class="text-muted">Please input an Author Name</small>
                </div>
                <div class="form-group d-flex">
                    <a class="btn btn-primary text-white mr-2" asp-controller="Author" asp-action="Index">Author
                        List</a>
                    <button type="submit" class="btn btn-warning text-white mr-2">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>