@using App.DataAccess.Model
@{
    Layout = "_Page";

    ViewData["Title"] = "Author Page";
    ViewData["Subtitle"] = "This is an Author List Page";
}

<div class="container">
    <div class="row mb-4">
        <div class="col d-flex justify-content-end">
            <a asp-controller="Author" asp-action="Create" class="btn btn-primary">Add Author</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Author author in ViewBag.Authors)
                    {
                        <tr>
                            <td>@author.Id</td>
                            <td>@author.Name</td>
                            <td class="d-flex">
                                <a class="btn btn-primary text-white mr-2" asp-controller="Author" asp-action="Show"
                                asp-route-id="@author.Id">Details</a>
                                <a class="btn btn-warning text-white mr-2" asp-controller="Author" asp-action="Edit"
                                asp-route-id="@author.Id">Edit</a>
                                <form asp-controller="Author" asp-action="Destroy" asp-route-id="@author.Id" method="post">
                                    <button type="submit" class="btn btn-danger text-white">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>