@using App.DataAccess.Model
@{
    Layout = "_Page";

    ViewData["Title"] = "Author Page";
    ViewData["Subtitle"] = $"This is an Author of {ViewBag.Author.Name} Details";

    var author = ViewBag.Author;
}

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>@author.Name</td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td class="d-flex justify-content-end"> <a class="btn btn-primary text-white mr-2"
                                asp-controller="Author" asp-action="Index">Author List</a>
                            <a class="btn btn-warning text-white mr-2" asp-controller="Author" asp-action="Edit"
                                asp-route-id="@author.Id">Edit</a>
                            <form asp-controller="Author" asp-action="Destroy" asp-route-id="@author.Id" method="post">
                                <button type="submit" class="btn btn-danger text-white">Delete</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>