@{
    var Headers = new List<dynamic> {
new { Text = "Home", Controller = "Home" },
new { Text = "Author", Controller = "Author" },
new { Text = "Book", Controller = "Book" },
new { Text = "User", Controller= "User" }
};
}

<nav class="d-flex justify-content-between">
    <div class="d-inline-block">
        <span class="h1">Syaf's MVC</span>
    </div>
    <ul class="d-flex flex-row no-bullet">
        @foreach (var bullet in Headers)
        {
            <li class="mr-2">
                <a class="p-2 btn btn-info" asp-controller="@bullet.Controller" asp-action="Index">@bullet.Text</a>
            </li>
        }
    </ul>
</nav>