@{
    Layout = "_Layout";
}

<div class="container p-4">
    <div class="row mb-3">
        <div class="col">
            @Html.Partial("_Header")
            <h1 class="h2 mt-3">@ViewData["Title"]</h1>
            <p class="mt-3">@ViewData["Subtitle"]</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @RenderBody()
        </div>
    </div>
</div>