﻿@page
@model App.Web.Pages.Author.CreateModel
@{
    ViewData["Title"] = "Create New Author";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Author.Name">Name</label>
                    <input asp-for="Author.Name" type="text" class="form-control" />
                    <span asp-validation-for="Author.Name" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>
</div>