﻿@page "{id:int?}"
@model App.Web.Pages.Author.EditModel
@{
    ViewData["Title"] = $"Edit Author{ " - " + Model.Author.Name}";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <input type="hidden" asp-for="Author.Id" />
                <div class="form-group">
                    <label asp-for="Author.Name">Name</label>
                    <input asp-for="Author.Name" type="text" class="form-control" />
                    <span asp-validation-for="Author.Name" class="text-danger"></span>
                </div>
                <a asp-area="" asp-page="/Author/Index" class="btn btn-danger">Back</a>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</div>