﻿@page
@model App.Web.Pages.Author.IndexModel
@using AuthorEntity = App.DataAccess.Model.Author
@{
    ViewData["Title"] = "List of Authors";
}

<div class="container">
    <div class="row mb-2">
        <div class="col-9">
            @ViewData["Title"]
        </div>
        <div class="col-3 d-flex justify-content-end">
            <a class="btn btn-primary" asp-area="" asp-page="/Author/Create">Create Author</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @{
                var authors = Model.Authors;
                if (authors.Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (AuthorEntity author in authors)
                            {
                                <tr>
                                    <td class="col-2">@author.Id</td>
                                    <td class="col-8">@author.Name</td>
                                    <td class="col-2 d-flex">
                                        <a class="btn btn-info mr-2" asp-area="" asp-page="/Author/Show"
                                asp-route-id="@author.Id">Details</a>
                                        <a class="btn btn-warning mr-2" asp-area="" asp-page="/Author/Edit"
                                asp-route-id="@author.Id">Edit</a>
                                        <form class="d-inline-block" asp-page-handler="Delete" asp-route-id="@author.Id"
                                method="post">
                                            <button type="submit" class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <p class="fs-4">No Author Data Currently.</p>
                }
            }
        </div>
    </div>
</div>