﻿@page "{id:int?}"
@model App.Web.Pages.Author.ShowModel
@using AuthorEntity = App.DataAccess.Model.Author
@{
    ViewData["Title"] = "Author Information";
}

<div class="container">
    <div class="row mb-2">
        <div class="col-9">
            @ViewData["Title"]
        </div>
        <div class="col-3 d-flex justify-content-end">
            <a class="btn btn-danger" asp-area="" asp-page="/Author/Index">Author List</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @{
                AuthorEntity author = Model.Author;
                if (author == null)
                {
                    <p class="fs-4">Author Information Not Found.</p>
                }
                else
                {
                    <div>
                        <div class="form-group row">
                            <label>Id</label>
                            <span type="text" class="form-control">@author.Id</span>
                        </div>
                        <div class="form-group row">
                            <label>Name</label>
                            <span type="text" class="form-control">@author.Name</span>
                        </div>
                        <form class="d-inline-block" asp-page-handler="Delete" asp-route-id="@author.Id" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                }
            }
        </div>
    </div>
</div>